.img-wrapper01 {
  position: absolute;
  top: 120px;
  left: 200px;
}

.img-wrapper01 .img01 {
  background: url("./images/image01.jpg") no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 500px;
  width: 350px;

  opacity: 0;
  animation: image-appear 0.0001s linear forwards;
  animation-delay: 1.6s;
}

.img-wrapper02 {
  position: absolute;
  top: 0px;
  left: 650px;
  /* background: red; */
}

.img-wrapper02 .img02 {
  background: url("./images/image02.png") no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 100vh;
  width: 800px;

  opacity: 0;
  animation: image-appear 0.0001s linear forwards;
  animation-delay: 2s;
}

@keyframes image-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* <!--
BLOCKS
--> */

.block {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: rgb(163, 124, 140);
  /* background: red; */
  animation: block-appear 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: 1s;
}

.img-wrapper02 .block {
  animation-delay: 1.4s;
}

@keyframes block-appear {
  0% {
    left: 0;
    width: 100%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}
